# Occupation

### Step 1. Import the necessary libraries

In [11]:
import pandas as pd

### Step 2. Import the dataset ocupation.tsv

In [2]:
df = pd.read_csv('../data/ocupation.tsv', sep= '\t')
print(df)

    user_id|age|gender|occupation|zip_code
0                  1|24|M|technician|85711
1                       2|53|F|other|94043
2                      3|23|M|writer|32067
3                  4|24|M|technician|43537
4                       5|33|F|other|15213
..                                     ...
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

[943 rows x 1 columns]

### Step 3. Assign it to a variable called users.

In [12]:
users = pd.read_csv('../data/ocupation.tsv', sep= '|')
print(users)

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Step 4. Discover what is the mean age per occupation

In [7]:
mean_age = users.groupby('occupation')['age'].mean().sort_values(ascending=False)
print(mean_age)

occupation
retired          63.071429
doctor           43.571429
educator         42.010526
healthcare       41.562500
librarian        40.000000
administrator    38.746835
executive        38.718750
marketing        37.615385
lawyer           36.750000
engineer         36.388060
writer           36.311111
salesman         35.666667
scientist        35.548387
other            34.523810
technician       33.148148
programmer       33.121212
homemaker        32.571429
artist           31.392857
entertainment    29.222222
none             26.555556
student          22.081633
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [33]:
occupation_gender = users.groupby('occupation')['gender'].apply(lambda x: (x == 'M').mean()*100).reset_index()
occupation_gender.columns = ['occupation', 'male_ratio']
result = occupation_gender.sort_values('male_ratio', ascending=False)
print(result)

       occupation  male_ratio
2          doctor  100.000000
4        engineer   97.014925
19     technician   96.296296
15        retired   92.857143
14     programmer   90.909091
6       executive   90.625000
17      scientist   90.322581
5   entertainment   88.888889
9          lawyer   83.333333
16       salesman   75.000000
3        educator   72.631579
18        student   69.387755
13          other   65.714286
11      marketing   61.538462
20         writer   57.777778
12           none   55.555556
0   administrator   54.430380
1          artist   53.571429
10      librarian   43.137255
7      healthcare   31.250000
8       homemaker   14.285714

### Step 6. For each occupation, calculate the minimum and maximum ages

In [38]:
occupation_age= users.groupby('occupation')['age'].agg(['max','min'])
print(occupation_age)

               max  min
occupation
administrator   70   21
artist          48   19
doctor          64   28
educator        63   23
engineer        70   22
entertainment   50   15
executive       69   22
healthcare      62   22
homemaker       50   20
lawyer          53   21
librarian       69   23
marketing       55   24
none            55   11
other           64   13
programmer      63   20
retired         73   51
salesman        66   18
scientist       55   23
student         42    7
technician      55   21
writer          60   18

### Step 7. For each combination of occupation and gender, calculate the mean age

In [39]:
combinate_occupation = users.groupby(['occupation','gender'])['age'].mean().sort_values(ascending=False)
print(combinate_occupation)

occupation     gender
retired        F         70.000000
               M         62.538462
healthcare     M         45.400000
executive      F         44.000000
doctor         M         43.571429
educator       M         43.101449
administrator  F         40.638889
librarian      F         40.000000
               M         40.000000
healthcare     F         39.818182
lawyer         F         39.500000
educator       F         39.115385
salesman       M         38.555556
executive      M         38.172414
technician     F         38.000000
marketing      M         37.875000
writer         F         37.631579
marketing      F         37.200000
administrator  M         37.162791
engineer       M         36.600000
none           F         36.500000
scientist      M         36.321429
lawyer         M         36.200000
other          F         35.472222
writer         M         35.346154
homemaker      F         34.166667
other          M         34.028986
programmer     M         33.216667
technician     M         32.961538
artist         M         32.333333
programmer     F         32.166667
entertainment  F         31.000000
artist         F         30.307692
engineer       F         29.500000
entertainment  M         29.000000
scientist      F         28.333333
salesman       F         27.000000
homemaker      M         23.000000
student        M         22.669118
               F         20.750000
none           M         18.600000
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [14]:
occupation_counts = users.groupby('occupation')['gender'].apply(lambda x: x.value_counts(normalize=True)*100).unstack()
print(occupation_counts)

                       F           M
occupation
administrator  45.569620   54.430380
artist         46.428571   53.571429
doctor               NaN  100.000000
educator       27.368421   72.631579
engineer        2.985075   97.014925
entertainment  11.111111   88.888889
executive       9.375000   90.625000
healthcare     68.750000   31.250000
homemaker      85.714286   14.285714
lawyer         16.666667   83.333333
librarian      56.862745   43.137255
marketing      38.461538   61.538462
none           44.444444   55.555556
other          34.285714   65.714286
programmer      9.090909   90.909091
retired         7.142857   92.857143
salesman       25.000000   75.000000
scientist       9.677419   90.322581
student        30.612245   69.387755
technician      3.703704   96.296296
writer         42.222222   57.777778