# Student Alcohol Consumption

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset student-mat.csv

In [20]:
df = pd.read_csv('../data/student-mat.csv', encoding ='utf-8')
print(df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

### Step 3. Assign it to a variable called df.

In [3]:
df = pd.read_csv('../data/student-mat.csv', encoding ='utf-8')
print(df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [6]:
start_index = df.columns.get_loc('school')
end_index = df.columns.get_loc('guardian')

slice_df = df.iloc[:,start_index:end_index + 1]
print(slice_df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     reason guardian
0    course   mother
1    course   father
2     other   mother
3      home   mother
4      home   father
..      ...      ...
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

[395 rows x 12 columns]

### Step 5. Create a lambda function that will capitalize strings.

In [11]:
capitalize_strings = lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [24]:
capitalize_two_columns = df[['Mjob', 'Fjob']].apply(lambda x: x.str.capitalize())
print(capitalize_two_columns)

         Mjob      Fjob
0     At_home   Teacher
1     At_home     Other
2     At_home     Other
3      Health  Services
4       Other     Other
..        ...       ...
390  Services  Services
391  Services  Services
392     Other     Other
393  Services     Other
394     Other   At_home

[395 rows x 2 columns]

### Step 7. Print the last elements of the data set.

In [33]:
print(df.tail(1))
print(df.iloc[-1])

    school sex  age address famsize Pstatus  Medu  Fedu   Mjob     Fjob  ...  \
394     MS   M   19       U     LE3       T     1     1  other  at_home  ...

    famrel freetime  goout  Dalc  Walc health absences G1 G2 G3
394      3        2      3     3     3      5        5  8  9  9

[1 rows x 33 columns]
school             MS
sex                 M
age                19
address             U
famsize           LE3
Pstatus             T
Medu                1
Fedu                1
Mjob            other
Fjob          at_home
reason         course
guardian       father
traveltime          1
studytime           1
failures            0
schoolsup          no
famsup             no
paid               no
activities         no
nursery           yes
higher            yes
internet          yes
romantic           no
famrel              3
freetime            2
goout               3
Dalc                3
Walc                3
health              5
absences            5
G1                  8
G2                  9
G3                  9
Name: 394, dtype: object

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [35]:
df[['Mjob', 'Fjob']] = df[['Mjob', 'Fjob']].apply(lambda x: x.str.capitalize())
print(df[['Mjob', 'Fjob']])

         Mjob      Fjob
0     At_home   Teacher
1     At_home     Other
2     At_home     Other
3      Health  Services
4       Other     Other
..        ...       ...
390  Services  Services
391  Services  Services
392     Other     Other
393  Services     Other
394     Other   At_home

[395 rows x 2 columns]

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [ ]:
def majority(age):
    return age > 17

In [38]:
df['legal_drinker'] = df['age'].apply(majority)
print(df['legal_drinker'])

0       True
1      False
2      False
3      False
4      False
       ...
390     True
391    False
392     True
393     True
394     True
Name: legal_drinker, Length: 395, dtype: bool

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [65]:
df_copy = df.copy()
print(df_copy)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   At_home   Teacher
1       GP   F   17       U     GT3       T     1     1   At_home     Other
2       GP   F   15       U     LE3       T     1     1   At_home     Other
3       GP   F   15       U     GT3       T     4     2    Health  Services
4       GP   F   16       U     GT3       T     3     3     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     ... freetime goout  Dalc  Walc  health absences  G1  G2  G3 legal_drinker
0    ...        3     4     1     1       3        6   5   6   6          True
1    ...        3     3     1     1       3        4   5   5   6         False
2    ...        3     2     2     3       3       10   7   8  10         False
3    ...        2     2     1     1       5        2  15  14  15         False
4    ...        3     2     1     2       5        4   6  10  10         False
..   ...      ...   ...   ...   ...     ...      ...  ..  ..  ..           ...
390  ...        5     4     4     5       4       11   9   9   9          True
391  ...        4     5     3     4       2        3  14  16  16         False
392  ...        5     3     3     3       3        3  10   8   7          True
393  ...        4     1     3     4       5        0  11  12  10          True
394  ...        2     3     3     3       5        5   8   9   9          True

[395 rows x 34 columns]

In [66]:
multi_ten = df_copy.select_dtypes('int64','float64').columns
for col in multi_ten:
    df_copy[col] = df_copy[col] * 10
print(df_copy)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F  180       U     GT3       A    40    40   At_home   Teacher
1       GP   F  170       U     GT3       T    10    10   At_home     Other
2       GP   F  150       U     LE3       T    10    10   At_home     Other
3       GP   F  150       U     GT3       T    40    20    Health  Services
4       GP   F  160       U     GT3       T    30    30     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M  200       U     LE3       A    20    20  Services  Services
391     MS   M  170       U     LE3       T    30    10  Services  Services
392     MS   M  210       R     GT3       T    10    10     Other     Other
393     MS   M  180       R     LE3       T    30    20  Services     Other
394     MS   M  190       U     LE3       T    10    10     Other   At_home

     ... freetime goout  Dalc  Walc  health absences   G1   G2   G3  \
0    ...       30    40    10    10      30       60   50   60   60
1    ...       30    30    10    10      30       40   50   50   60
2    ...       30    20    20    30      30      100   70   80  100
3    ...       20    20    10    10      50       20  150  140  150
4    ...       30    20    10    20      50       40   60  100  100
..   ...      ...   ...   ...   ...     ...      ...  ...  ...  ...
390  ...       50    40    40    50      40      110   90   90   90
391  ...       40    50    30    40      20       30  140  160  160
392  ...       50    30    30    30      30       30  100   80   70
393  ...       40    10    30    40      50        0  110  120  100
394  ...       20    30    30    30      50       50   80   90   90

    legal_drinker
0            True
1           False
2           False
3           False
4           False
..            ...
390          True
391         False
392          True
393          True
394          True

[395 rows x 34 columns]