# Ex2 - Getting and Knowing your Data

### Step 1. Import library

In [52]:
import pandas as pd

### Step 2. Import the dataset chipotle.tsv

In [53]:
import pandas as pd

df = pd.read_csv('../data/chipotle.tsv', sep = '\t')
print(df.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

### Step 3. Assign it to a variable called chipo.

In [54]:
import pandas as pd

chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

### Step 4. See the first 10 entries

In [55]:
import pandas as pd

chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [56]:
import pandas as pd


chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
print(len(chipo))
print(chipo.shape[0])

4622
4622

### Step 6. What is the number of columns in the dataset?

In [57]:
import pandas as pd


chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
print(len(df.columns))
print(chipo.shape[1])

5
5

### Step 7. Print the name of all the columns.

In [58]:
import pandas as pd

chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
for name_column in chipo.columns:
    print(name_column)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [59]:
#Indexing works in pandas include:
#Row Index
#Column Index
#Invidual cells

#Each row and column has a unique label and position nuber

import pandas as pd

chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
print(chipo.index)
print(chipo.index.name)
print(chipo.index.dtype)
print(chipo.head())

RangeIndex(start=0, stop=4622, step=1)
None
int64
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

### Step 9. Which was the most-ordered item?

In [60]:
import pandas as pd

chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
most_ordered_item = chipo.groupby('item_name')['quantity'].sum().sort_values(ascending = False)
print(f"Most_ordered item: {most_ordered_item.index[0]}")

Most_ordered item: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [61]:
import pandas as pd

chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
most_ordered = chipo.groupby('item_name')['quantity'].sum().sort_values(ascending = False)
print(f"Item ordered: {most_ordered.values[0]} times")

Item ordered: 761 times

### Step 11. What was the most ordered item in the choice_description column?

In [62]:
import pandas as pd

chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
most_ordered_item = chipo.groupby('choice_description')['quantity'].sum().sort_values(ascending = False)
print(f"The most ordered item in the choice_description column is {most_ordered_item.index[0]}")

The most ordered item in the choice_description column is [Diet Coke]

### Step 12. How many items were orderd in total?

In [75]:
import pandas as pd

chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
total_items_ordered  = chipo.groupby('item_name')['quantity'].sum()
print(f"Total items ordered: {total_items_ordered}")

Total items ordered: item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            211
Bowl                                       4
Burrito                                    6
Canned Soda                              126
Canned Soft Drink                        351
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             761
Chicken Burrito                          591
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               221
Steak Burrito                            386
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [76]:
import pandas as pd

chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
print(chipo['item_price'].dtype)

object

#### Step 13.b. Create a lambda function and change the type of item price

In [77]:
import pandas as pd
import numpy as np

chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]) if pd.notna(x) and len(x) > 1 else np.nan)
print(chipo['item_price'])

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.c. Check the item price type

In [78]:
import pandas as pd

chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
print("Old type: ",chipo['item_price'].dtype)
price_to_float = lambda x: float(x[1:])
chipo['item_price'] = chipo['item_price'].apply(price_to_float)
print("New type: ",chipo['item_price'])

Old type:  object
New type:  0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

### Step 14. How much was the revenue for the period in the dataset?

In [69]:
import pandas as pd

chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
print(f"The revenue is {chipo['revenue'].sum()}")

The revenue is 39237.02

### Step 15. How many orders were made in the period?

In [71]:
import pandas as pd

chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
num_orders = chipo['order_id'].nunique()
print(f"There are {num_orders} orders")

There are 1834 orders

### Step 16. What is the average revenue amount per order?

In [73]:
import pandas as pd

chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
total_revenue = (chipo['quantity'] * chipo['item_price']).sum()
num_orders = chipo['order_id'].nunique()
avg_revenue_per_order = total_revenue / num_orders
print(f"The average revenue amount per order: ${avg_revenue_per_order}")

The average revenue amount per order: $21.39423118865867

### Step 17. How many different items are sold?

In [74]:
import pandas as pd

chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')
num_diff_items = chipo['item_name'].nunique()
print(f"There are {num_diff_items} different items")

There are 50 different items